<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Table</title>
</head>
<body>

 <table border="5px" bordercolor="red">
     <thead>
          <tr>
              <th>EMP ID</th>
              <th>EMP NAME</th>
              <th>EMP P.NO</th>
              <th>EMP ADD</th>
          </tr>
     </thead>
     <tbody>
           <tr>
               <td>1</td>
               <td>Balaji</td>
               <td>123445</td>
               <td>hyd</td>
           </tr>
           <tr>
               <td>2</td>
               <td>aditya</td>
               <td>1903665</td>
               <td>PUN</td>
           </tr>
     <tr>
               <td>3</td>
               <td>Rai</td>
               <td>376859</td>
               <td>BANG</td>
           </tr>
     </tbody>

 </table>
</body>
</html>